# Node dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native builds & secrets
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android/iOS
# DO NOT ignore these if using native code
# Uncomment only if regenerating them from scratch (e.g. with expo prebuild)
# /android
# /ios

# Metro bundler
.metro-health-check*

# Debug and error logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.orig.*
*.pem

# Environment configs
.env*.local

# TypeScript
*.tsbuildinfo
